      /* reset styles */
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      /* set font and background */
      body {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
        background-color: gray;
        color: whitesmoke;
      }

      /* header styles */
      header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: black;
      }

      /* navigation styles */
      nav ul {
        display: flex;
        list-style: none;
      }

      nav a {
        display: block;
        padding: 10px 20px;
        text-decoration: none;
        color: whitesmoke;
      }
      

      /* main section styles */
      main {
        max-width: 800px;
        margin: 40px auto;
      }

      /* section styles */
      section {
        padding: 40px;
        background-color: black;
      }

      /* headings */
      h1, h2 {
        font-weight: normal;
        text-align: center;
      }

      h2 {
        text-decoration: underline;
        color: green;
      }

      /* form styles */
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      label, input, textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        font-size: 16px;
      }

      input[type="submit"] {
        width: auto;
        background-color: lightgray;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
      }

      /* footer styles */
      footer {
        text-align: center;
        padding: 20px;
        background-color: white;
        color: black;
      }

      p {
        text-align: center;
      }
     
      a {
         display: block;
         text-align: center;
      }
      .center {
         display: block;
         margin-left: auto;
         margin-right: auto;
      }

      div.container {
        text-align: center;
      }
      
      ul.social {
        display: inline-block;
        text-align: left;
      }
